<h3>
  Cadastro
  <small class="text-muted">- Pessoa</small>
</h3>
<form #mainForm="ngForm">
  <div class="mb-3 form-group">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="pessoa.nome">
  </div>
  <div class="mb-3 form-group">
    <label for="cpf" class="form-label">CPF</label>
    <input type="text" class="form-control" id="cpf" name="cpf" [(ngModel)]="pessoa.cpf">
  </div>
  <div class="mb-3 form-group">
    <label for="dn" class="form-label">Data Nascimento</label>
    <input type="date" class="form-control" id="dn" name="dataNascimento" [(ngModel)]="pessoa.dataNascimento">
  </div>
  <div class="mb-3 form-group">
    <label class="form-label">Contato</label>
    <select id="peixe" name="peixe" class="form-control" [(ngModel)]="contato.nome" required #peixe="ngModel">
      <option></option>
      <option [value]="data.id" *ngFor="let data of contatoList">{{data.nome}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" (click)="salvar()">Salvar</button>
</form>
