<h3>
  Cadastro
  <small class="text-muted">- Pessoa</small>
</h3>
<form #mainForm="ngForm">
  <div class="mb-3 form-group">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="pessoa.nome">
  </div>
  <div class="mb-3 form-group">
    <label for="cpf" class="form-label">CPF</label>
    <input type="text" class="form-control" id="cpf" name="cpf" [(ngModel)]="pessoa.cpf">
  </div>
  <div class="mb-3 form-group">
    <label for="dn" class="form-label">Data Nascimento</label>
    <input type="date" class="form-control" id="dn" name="dataNascimento" [(ngModel)]="pessoa.dataNascimento">
  </div>
  <label class="form-label">Lista de Contato</label>
  <div class="input-group mb-3">
      <select id="peixe" name="peixe" class="form-control" [(ngModel)]="contato.id">
        <option selected></option>
        <option [value]="data.id" *ngFor="let data of contatos">{{data.nome}}</option>
      </select>
      <button type="submit" class="btn btn-dark" (click)="addContato()">+</button>
  </div>

  <div *ngIf="pessoa.contatoList[0]">
    <table class="table" bgcolor="#add8e6">
      <thead>
      <tr bgcolor="#fff">
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Telefone</th>
        <th scope="col">E-mail</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of pessoa.contatoList">
        <th scope="row">{{data.id}}</th>
        <td>{{data.nome}}</td>
        <td>{{data.telefone}}</td>
        <td>{{data.email}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="mb-3">
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
      <strong>Erro ao Salvar!</strong> {{msgErro}}
    </div>
    <button type="submit" class="btn btn-primary" (click)="salvar()">Salvar</button>
  </div>
</form>
