<form>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome">
  </div>
  <div class="mb-3">
    <label for="cpf" class="form-label">CPF</label>
    <input type="text" class="form-control" id="cpf">
  </div>
  <div class="mb-3">
    <label for="dn" class="form-label">Data Nascimento</label>
    <input type="text" class="form-control" id="dn">
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
