<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a routerLink="cadastro-contato" routerLinkActive="active" class="nav-link">Cadastro de Contato</a>
  </li>
  <li class="nav-item">
    <a routerLink="cadastro-pessoa" routerLinkActive="active" class="nav-link">Cadastro de Pessoa</a>
  </li>
  <li class="nav-item">
    <a routerLink="lista-pessoas" routerLinkActive="active" class="nav-link">Lista de Pessoas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLinkActive="active">Lista de Contatos</a>
  </li>
</ul>

<div class="w-50 p-3 h-75 d-inline-block">
  <router-outlet></router-outlet>
</div>
